.comment {
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
}

.comment_header {
    margin-bottom: 10px;
    margin-left: 10px;
}

.comment_avatar {
    background-color: white;
}

.comment_content {
    margin-top: 10px;
}

.comment_info {
    
}

.comment_info > p {
    font-size: 12px;
    color: gray;
}

.comment_info > a:hover {
    color: #0a66c2 !important;
    text-decoration: underline;
}